body, html {
    height: 100%;
    margin: 0;
    padding: 0;

}

.header_area {
    width: 100%;
}

.site-banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.site-banner .container {
    width: 100%;
}

.banner-image {
    display: flex;
    align-items: center;
}

.image-container {
    text-align: center;
}

.site-title {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 200px;
}

.subject {
    text-align: center;
}

.services {
    height: 80%;
    margin: 0;
    padding: 0;

} 